<section class="hero-wrapper">
  <div class="hero-main" #heroContainer>
    <div class="split-panel left-panel">
      <img
        src="assets/img/ai-generated-cute-girl-pic (1).jpg"
        alt="Skin Care"
      />

      <div class="content-card">
        <h1 class="title">
          SKIN <span class="amp">&</span> HAIR<br />
          <span class="perfection">PERFECTION</span>
        </h1>
        <p class="subtitle">ADVANCED CLINIC</p>

        <div class="action-area">
          <button class="btn-hero-book" routerLink="/appointment-booking">
            BOOK APPOINTMENT
            <i class="bi bi-arrow-right ms-2"></i>
          </button>
        </div>
      </div>
    </div>

    <div class="split-panel right-panel">
      <img
        src="assets/img/ai-generated-cute-girl-pic (2).jpg"
        alt="Hair Care"
      />
    </div>
  </div>
</section>
